---
permalink: /404.html
---
<html lang="en">
    <head>
        <title>My Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#07c">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        {% include head.html %}
        <div class="hero" style="text-align: center">
            <h1>Sucks. It's 404 😪</h1>
            <a href="/h3cked/">Mind to waste few MBs?</a>
        </div>
        {% include foot.html %}
    </body>
</html>
