---
layout: compress
permalink: /about/
title: About
excerpt: willnode's biography in timeline 💪
hero: https://secure.gravatar.com/avatar/93670e8980fdd7f5a17bce99def7bbe3?s=600
---
<html lang="en">
    <head>
        {% include meta.html %}
    </head>
    <body>
        {% include head.html %}
        <div class="hero">
            <h1>Hi! I'm <span data-balloon="I live in Indonesia, planning to go college this year 😏" data-balloon-pos="right">Wildan</span> 🐱‍💻</h1>
            <ul id="bubbles">
                <li style="background-color:#7b0" data-balloon="Unity + Asset Store Publisher" data-balloon-pos="up">🎮 Game Developer</li>
                <li style="background-color:#c70" data-balloon="HTML/CSS/JS + Progressive Frameworks" data-balloon-pos="up">🌐 Web Front-End</li>
                <li style="background-color:#07c" data-balloon="NodeJS + Go + Bash/CMD + .NET Apps" data-balloon-pos="up">🔨 Tool Maker</li>
                <li style="background-color:gray" data-balloon="hackerone/willnode, zero case so far 😑" data-balloon-pos="up">🐱‍👤 Hacker Baboon</li>
            </ul>
        </div>
        <div class="hero links-aon" id="logs">
            {% capture logs %}{% include about.md %}{% endcapture %}
            {{ logs | markdownify }}
        </div>
        {% include foot.html %}
    </body>
</html>
