---
layout: compress
permalink: /about/
title: About
excerpt: willnode's biography in timeline 💪
hero: https://res.cloudinary.com/wellosoft/image/upload/v1527478890/home/AboutCover.png
---
<html lang="en">
    <head>
        {% include meta.html %}
    </head>
    <body>
        {% include head.html %}
        <div id="about-bg" class="hero">
            <div class="hero-content">
                <h1>Hi! I'm <span data-balloon="living in Indonesia, as geeks attending college this year" data-balloon-pos="right">Wildan</span> 🐱‍💻</h1>
                <ul id="bubbles">
                    <li style="background-color:#7b0" data-balloon="Unity + Asset Store Publisher" data-balloon-pos="down">🎮 Game Developer</li>
                    <li style="background-color:#c70" data-balloon="HTML/CSS/JS + Progressive Frameworks" data-balloon-pos="down">🌐 Web Front-End</li>
                    <li style="background-color:#07c" data-balloon="NodeJS + Go + Rust + Bash/CMD + .NET Apps" data-balloon-pos="down">🔨 Automation Tools</li>
                </ul>
            </div>
        </div>
        <div class="hero links-aon" id="logs">
            {% capture logs %}{% include about.md %}{% endcapture %}
            {{ logs | markdownify }}
        </div>
        <div id="about-foot" class="hero">
        </div>
        {% include foot.html %}
    </body>
</html>
