---
layout: compress
permalink: /bio/
title: About
excerpt: Manusia dalangnya wellosoft.net
hero: https://res.cloudinary.com/wellosoft/image/upload/v1527478890/home/AboutCover.png
links:
- name: Memo
  href: //memo.wellosoft.net/
  icon: img/ko-fi.svg
- name: Instagram
  href: //instagram.com/wiiin0de/
  icon: img/instagram.svg
- name: Twitter
  href: //twitter.com/willnode/
  icon: img/twitter.svg
- name: Telegram
  href: //telegram.com/wiiin0de/
  icon: img/telegram.svg
---
<html lang="id">
    <head>
        {% include meta.html %}
        <script src="/vendor/jquery.min.js"></script>
        <script src="/vendor/slick.min.js"></script>
        <meta name="theme-color" content="#70c">
    </head>
    <body class="index bio" style="background: #70c">
        {% include navbar.html %}
        <div >
            <div class="bg-pink">
                <div class="hero welcome">
                    <h1 class="nowrap">WIIIN0DE<span class="blink">_</span></h1>
                    <ul class="links">
                        {% for v in page.links %}
                        <li>
                            <a href="{{ v.href }}" target="_blank" rel="noopener" data-balloon="{{ v.name }}" data-balloon-pos="down">
                                {% include_relative {{ v.icon }} %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <small style="margin-top: 2em"><i>I live and grow in Indonesian tribe.<br> Not speaking Indonesia? You should check the <a href="/">main page</a>.<br>This page is about Me, personally.</i></small>
                </div>
            </div>
            <div class="hero my-bio hero-imaged fixed" style="--url:url({{site.img}}MeBehindAlma.jpg);">
                <div class="bg-white box">
                    <div>
                        {% capture _bio %}{% include about.md %}{% endcapture %}
                        {{ _bio | markdownify }}
                    </div>
                </div>
            </div>
            <div class="hero hero-imaged my-memo" style="--url:url({{site.img}}me-sunshine.jpg);">
                <div>
                    <h3>Memo</h3>
                    <p>Tulisan untuk mengingatkan diriku pada kehidupan &mdash; termasuk kamu.</p>
                    <div class="memo-list"></div>
                </div>
            </div>
            <div class="home-email hero hero-imaged my-hi" style="--url:url({{site.img}}ex-warpland.jpg)">
                <div>
                    <p class="nowrap"><a href="https://t.me/WIIIN0DE">Katakan Hai!</a></p>
                </div>
            </div>
        </div>
        {% include foot.html %}
        <script>

            $.getJSON('https://memo.wellosoft.net/home-api.json', (data) => {
                $('.memo-list').append(
                    data.slice(0,5).map(x => `<a href="${x.uri}" style="--url:url(${x.ig}media)"><span>${x.title}</span></a>`).join('')
                );
                $('.memo-list').append(
                    `<a href="https://memo.wellosoft.net/"><span><i>Lebih Banyak...</i></span></a>`
                );
            });
        </script>
    </body>
</html>
