---
layout: compress
permalink: /bio/
title: About
excerpt: willnode's biography in timeline 💪
hero: https://res.cloudinary.com/wellosoft/image/upload/v1527478890/home/AboutCover.png
links:
- name: Blog
  href: //blog.wellosoft.net/
  icon: img/wheniwork.svg
- name: Memo
  href: //memo.wellosoft.net/
  icon: img/ko-fi.svg
- name: Instagram
  href: //instagram.com/wiiin0de/
  icon: img/instagram.svg
- name: Twitter
  href: //twitter.com/willnode/
  icon: img/twitter.svg
---
<html lang="id">
    <head>
        {% include meta.html %}
        <script src="/vendor/jquery.min.js"></script>
        <script src="/vendor/slick.min.js"></script>
        <meta name="theme-color" content="#07c">
    </head>
    <body class="index" style="background: #07c">
        {% include navbar.html %}
        <div class="master-slick bio">
            <div>
                <div class="hero">
                    <div>
                        <img id="pict" class="profile" src="{{site.img}}avatar-3.jpg"/>
                    </div>
                    <p>&mdash; <i>Selamat datang di Bio Personal saya</i> &mdash;</p>
                    <ul class="links">
                        {% for v in page.links %}
                        <li>
                            <a href="{{ v.href }}" target="_blank" rel="noopener" data-balloon="{{ v.name }}" data-balloon-pos="down">
                                {% include_relative {{ v.icon }} %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="hero hero-imaged" style="--url:url({{site.img}}ex-warpland.jpg)">
                <div>
                    <h3>&mdash; Siapa saya? &mdash;</h3>
                    <p>Namaku Wildan dan aku adalah developer yang fokus pada desain dan semua jenis algoritma yang membuat desain itu indah &mdash; juga mempelajari hingga membuat server web sendiri dan bermain dengan Software CLI.</p>
                    <p>Aku sedang menempuh pendidikan jenjang S1 di Universitas Tronojoyo Madura sebagai Mahasiswa Teknik Informatika sejak 2018.<span class="blink">_</span></p>
                </div>
            </div>
            <div class="hero hero-imaged" style="--url:url({{site.img}}me-sunshine.jpg)">
                <div>
                    <h3>Memo</h3>
                    <p>Tulisan untuk mengingatkan diriku pada kehidupan -- termasuk kamu.</p>
                    <div class="memo-list"></div>
                </div>
            </div>
        </div>
        {% include foot.html %}
        <script>

            $.getJSON('https://memo.wellosoft.net/home-api.json', (data) => {
                $('.memo-list').append(
                    data.slice(0,5).map(x => `<a href="${x.uri}" style="--url:url(${x.ig}media)"><span>${x.title}</span></a>`).join('')
                );
                $('.memo-list').append(
                    `<a href="https://memo.wellosoft.net/"><span><i>Lebih Banyak...</i></span></a>`
                );
            });
        </script>
    </body>
</html>
