---
title: Access Grants OK
excerpt: Access Granted!
hero: https://media.giphy.com/media/PyOzvC8NUwjGE/giphy.gif
layout: compress
permalink: /grants-ok/
---
<html lang="en">
    <head>
		{% include meta.html %}
    </head>
    <body>
		{% include head.html %}
		<div class="hero">
			<h1>✨ Hey you made it! ✨</h1>
			<h2>We just sent the invitation to your GitLab account.</h2>
			<h2>Anyway, here's the cake for you 👇😁</h2>
			<img src="https://media.giphy.com/media/PyOzvC8NUwjGE/giphy.gif">
		</div>
	{% include foot.html %}
    </body>
</html>
