---
layout: compress
links:
- name: GitHub
  href: //github.com/willnode
  icon: "img/github.svg"
- name: Twitter
  href: //twitter.com/willnode
  icon: "img/twitter.svg"
- name: Codepen
  href: //codepen.io/willnode
  icon: "img/codepen.svg"
- name: Artstation
  href: //artstation.com/willnode
  icon: "img/artstation.svg"
email:
  alias: willnode@wellosoft.net
  support: support@wellosoft.net
---
<html lang="en">
    <head>
        <title>Wello Soft</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#07c">
        <meta name="description" content="Wello Soft is a one-man fictional company by willnode that pretended to exist because it was really cool">
        <meta name="google-site-verification" content="NNSORJ-sHRRpUNH7it1ceq3h5RaH5-DXZynCwbJW130">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        {% include head.html %}
        <!-- Contacts -->
        <div class="hero" id="contact">
            <img class="profile" src="//avatars1.githubusercontent.com/u/20214420" alt="Profile Picture on GitHub" />
            <h2>Wildan Mubarok</h2>
            <h3>Programmer that builds dream
                <span data-balloon="and fun!" data-balloon-pos="right">🌈</span>
            </h3>
            <ul class="links">
                {% for v in page.links %}
                <li>
                    <a href="{{ v.href }}" target="_blank" rel="noopener">
                        {% include_relative {{ v.icon }} %}
                        <span> {{ v.name }} </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Email -->
        <div>
            <input type="checkbox" id="email">
            <div id="email-window" v-once>
                <span data-balloon="Both email delivers to the same human and priority" data-balloon-pos="right" class="icon">
                    {% include_relative img/gmail.svg %}
                </span>
                <span>
                    <b>Support: </b>
                    <a data-balloon="Use this to seek technical help with my NOT-IN-GITHUB projects" data-balloon-pos="down" title="" href="mailto:{{page.email.support}}">{{page.email.support}}</a>
                </span>
                <span>
                    <b>General: </b>
                    <a data-balloon="Use this for general use (e.g. events or promotion)" data-balloon-pos="down" href="mailto:{{page.email.alias}}">{{page.email.alias}}</a>
                </span>
                <label data-balloon="Close it" data-balloon-pos="down" onclick="goTop()" for="email">OK</label>
            </div>
        </div>
        <!-- Brand -->
        <div id="brand" class="hero" style="background-image: url(//res.cloudinary.com/wellosoft/image/upload/home/wellosoft-bg.jpg)">
            <span class="spoiler">
                <b>FUN FACT</b> Wello Soft is a one-man fictional company that pretended to exist because
                <i>it was really cool</i> 😎
                <br>
                <b>FUN FACT AGAIN</b> So many cool stuff still hiding! Go find out while you"re here! 🔥
            </span>
            <div id="pad">
                <span>
                    <a href="/expertise/" target="_blank" rel="noopener"><span>See stacks of my artful works 🎨</span></a>
                </span>
                <span>
                    <a href="//blog.wellosoft.net/" target="_blank" rel="noopener"><span>See rolls of my feedy blogs ✍</span></a>
                </span>
            </div>
        </div>
        <div id="repo">
            <a href="//github.com/willnode" target="_blank" rel="noopener">
                <h2 data-balloon="see all my repositories on GitHub!" data-balloon-pos="down">Latest Repositories ↗</h2>
            </a>
            <span id="repos-stat"><noscript>This repo list need Javascript. Sorry! You can click link above 😇</noscript></span>
            <ul id="repos"></ul>
        </div>
        <!-- Graphics -->
        <div id="graphics">
            <noscript>This carousel needs Javascript. Sorry! 😇</noscript>
            <span class="dummygap nav rows">
                <a data-balloon="previous" data-balloon-pos="up" id="graphics-p" onclick="graphics.setg(-1)">◀</a>
                <span class="dummygap"></span>
                <a data-balloon="next" data-balloon-pos="up" id="graphics-n" onclick="graphics.setg(1)">▶</a>
            </span>
            <div class="btm rows">
                <div class="left">
                    <h2><a id="graphics-link" target="_blank" rel="noopener"></a></h2>
                    <span id="graphics-desc"></span>
                </div>
                <a data-balloon="I do Unity stuff few years now so check my Connect profile!" data-balloon-pos="left" href="//connect.unity.com/u/5850d37f0909150027e23f02" target="_blank" rel="noopener">
                    <span class="right mdunity">
                        {% include_relative img/madewithunity.svg %}
                    </span>
                </a>
            </div>
        </div>
        {% include foot.html %}
        {% if jekyll.environment == "production" %}<script src="/analytics.js"></script>{% endif %}
        <script src="/main.js"></script>
        <script src="/homeui.js"></script>
    </body>
</html>
