---
layout: compress
title: Wello Soft
excerpt: Wello Soft is a one-man fictional company by willnode that pretended to exist because it was really cool
hero: https://res.cloudinary.com/wellosoft/image/upload/home/wellosoft-bg.jpg
links:
-   name: GitHub
    href: //github.com/willnode
    icon: img/github.svg
-   name: Unity
    href: //u3d.as/cco
    icon: img/unity.svg
-   name: Codepen
    href: //codepen.io/willnode
    icon: img/codepen.svg
-   name: Artstation
    href: //artstation.com/willnode
    icon: img/artstation.svg
email:
    alias: willnode@wellosoft.net
thumb:
    normal: //avatars1.githubusercontent.com/u/20214420
    hover: //secure.gravatar.com/avatar/93670e8980fdd7f5a17bce99def7bbe3?s=400
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta.html %}
    <meta name="google-site-verification" content="NNSORJ-sHRRpUNH7it1ceq3h5RaH5-DXZynCwbJW130">
    <meta name="theme-color" content="#07c">
</head>
<body class="index">
    {% include navbar.html %}

    <div>
        <div style="--up: #07c; --down: white;">
            {% include_relative img/hr-hlline.svg %}
        </div>

        <div class="bg-white">
            <div class="container py-5 d-flex flex-column flex-md-row align-items-center">
                <div class="profile">
                    <img class="circle" src="{{site.img}}avatar-2.jpg" alt="Me Profile Picture" />
                    <div class="logo">
                        {% include_relative img/wellosoft.svg %}
                    </div>
                </div>
                <div class="flex-grow-1">
                    <div class="home-contact hero">
                        <h1>WIIIN0DE</h1>
                        <ul class="links row">
                            {% for v in page.links %}
                            <li class="col-6 col-xl-3">
                                <a href="{{ v.href }}" target="_blank" rel="noopener">
                                    {% include_relative {{ v.icon }} %} {{ v.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <p>My name is <b>Wildan</b> and I'm a self-taught programmer since twelve. I doing design and
                            code logics for web and game development. I also learns all the way down into
                            managing web servers and working with CLI tools.
                        </p>
                        <p>Currently I'm a student college while making a living by selling digital assets in Unity
                            Asset Store and doing a lot of local projects.<span class="blink">_</span></p>
                    </div>

                </div>
            </div>
        </div>

        <div style="--up: white; --down: #07c;">
            {% include_relative img/hr-lhline.svg %}
        </div>

        <div class="bg-blue hero">
            <div class="container py-5 d-flex flex-column flex-md-row-reverse align-items-center">
                <div>
                        <a href="https://assetstore.unity.com/packages/tools/gui/texdraw-51426?aid=1101l4NDI"><img src="https://res.cloudinary.com/wellosoft/image/upload/c_fill,h_300,w_300/v1512857611/expertise/library-texdraw.png" class="circle" alt="TEXDraw" width="300"/></a>
                </div>
                <div class="flex-grow-1">
                    <div class="hero">
                        <h2>Unity Products</h2>
                        <p>I make products and share (also sell) Unity plugin and asset packs</p>
                        <a href="http://u3d.as/cco"><u>Check it out</u></a>
                    </div>
                </div>
            </div>
        </div>
        <div style="--up: #07c; --down: white">
            {% include_relative img/hr-hlline.svg %}
        </div>
        <div class="bg-white hero">
            <div class="container py-5 d-flex flex-column flex-md-row align-items-center">
                <div>
                    <a href="https://forth.wellosoft.net/"><img src="https://forth.wellosoft.net/images/preview.gif" class="circle" alt="Forth Engine" width="300"/></a>
                </div>
                <div class="flex-grow-1">
                    <div class="hero">
                        <h2>GitHub Projects</h2>
                        <p>I occasionally wrote small apps either in Web, Python or C++</p>
                        <a href="https://github.com/willnode/"><u>Check it out</u></a>
                    </div>
                </div>
            </div>
        </div>
        <div style="--up: white; --down: #07c;">
                {% include_relative img/hr-lhline.svg %}
            </div>

            <div class="bg-blue hero">
                <div class="container py-5 d-flex flex-column flex-md-row-reverse align-items-center">
                    <div>
                            <iframe height="400" width="300" scrolling="no" title="Heartbeat Logo" src="https://codepen.io/willnode/embed/zgwOzy?height=400&theme-id=dark&default-tab=result" frameborder="no"></iframe>
                    </div>
                    <div class="flex-grow-1">
                        <div class="hero">
                            <h2>Codepen Designs</h2>
                            <p>I occasionally save web design here for prototyping and housekeeping stuff</p>
                            <a href="https://codepen.io/willnode"><u>Check it out</u></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="--up: #07c; --down: white">
                {% include_relative img/hr-hlline.svg %}
            </div>
            <div class="bg-white hero">
                <div class="container py-5 d-flex flex-column flex-md-row align-items-center">
                    <div>
                        <a href="https://forth.wellosoft.net/"><img src="https://res.cloudinary.com/wellosoft/image/upload/c_thumb,w_400,g_face/v1580134998/home/wireig.png" class="circle" alt="Splash Wire" width="300"/></a>
                    </div>
                    <div class="flex-grow-1">
                        <div class="hero">
                            <h2>Artstation Arts</h2>
                            <p>I do 3D modeling and render them as part of my hobby and side projects</p>
                            <a href="https://artstation.com/willnode/"><u>Check it out</u></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="--up: white; --down: #07c;">
            {% include_relative img/hr-lhline.svg %}
        </div>
        <div id="section-email" class="bg-blue">
            <div class="hero" style="padding:3em 1em">
                <a href="/asset-store/">Products</a> &bullet;
                <a href="/cv/">Curriculum Vitae</a>

            </div>
            <!-- Email -->
            <div class="home-email hero nowrap d-flex align-items-center justify-content-center">
                <p class="nowrap"><a
                    href="mailto:{{page.email.alias}}">Email</a></p>
                <p class="mx-3">
                    <a class="icon" href="/js/dino.txt" target="_blank" rel="nofollow noopener">
                        {% include_relative img/gmail.svg %}
                    </a>
                </p>
                <p class="nowrap"><a
                    href="https://t.me/WIIIN0DE">Telegram</a></p>
            </div>
        </div>
    </div>

    {% include foot.html %}
    <script>
        function gotoEmail()
        {
            window.scroll({ behavior: 'smooth', top: $('#section-email')[0].offsetTop});
        }
    </script>
</body>

</html>