---
title: My Projects
exceprt: ✨ Curated Lists of my works ranging from Unity to NodeJS including browser and .NET Apps!
layout: compress
permalink: /projects/
---
<html lang="en">
    <head>
        {% include meta.html %}
    </head>
    <body>
        {% include head.html %}
        <script src="/js/projectsui.js"></script>
        <div style="text-align: center" id="projects">
            <h1>✨ Curated Lists of my works. ✨</h1>
            <h2>Unity Projects</h2>
            {% include projects.html list=site.data.projects.unity id="unity" %}
            <h2>.NET Projects</h2>
            {% include projects.html list=site.data.projects.net id="net" %}
            <h2>Web Projects</h2>
            {% include projects.html list=site.data.projects.web id="web" %}
            <h2>Node.JS Projects</h2>
            {% include projects.html list=site.data.projects.node id="node" nocarousel="yes" %}
        </div>
        {% include foot.html %}
    </body>
</html>
