---
title: My Projects
excerpt: ✨ Curated Lists of my works ranging from Unity to NodeJS including browser and .NET Apps!
hero: https://res.cloudinary.com/wellosoft/image/upload/home/wellosoft-bg.jpg
layout: compress
permalink: /projects/
---
<html lang="en">

<head>
    {% include meta.html %}
    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/slick.min.js"></script>
    <meta name="theme-color" content="#07c">
</head>

<body>
    {% include navbar.html %}
    <script src="/js/projectsui.js"></script>
    <div style="text-align: center" id="projects">
        <h1>✨ Historical Projects ✨</h1>
        <p>Either they're still actively maintained &mdash; or not</p>
        <hr>
        <h2>Unity Projects</h2>
        {% include projects.html list=site.data.projects.unity id="unity" %}
        <h2>.NET Projects</h2>
        {% include projects.html list=site.data.projects.net id="net" %}
        <h2>Web Projects</h2>
        {% include projects.html list=site.data.projects.web id="web" %}
        <h2>Node.JS Projects</h2>
        {% include projects.html list=site.data.projects.node id="node" nocarousel="yes" %}
    </div>
    {% include foot.html %}

    <script>
        $('.master-slick').slick({
            dots: true,
            infinite: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            centerPadding: '60px',
            centerMode: true,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [{
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                   dots: false,
                }
            }]
        });
    </script>
</body>

</html>