<div id="navbar" class="{% if page.url=='/' %}index{% endif %}">
    <div class="logo" data-balloon="Scroll down and hover over rainbow 🌈" data-balloon-pos="right">
        <a href="{% if page.url=='/' %}//github.com/willnode/willnode.github.io/{% else %}/{% endif %}">
            {% include_relative img/wellosoft.svg %}
        </a>
    </div>
    <div class="space"></div>
    <ul class="menu">
        <li>
            <a data-balloon="Read my story" data-balloon-pos="down" href="/about/">👓 About</a>
        </li>
        <li>
            <a data-balloon="See what I've create!" data-balloon-pos="down" href="/projects/">🔨 Projects</a>
        </li>
        <li>
            <a data-balloon="Visit my log" data-balloon-pos="down" href="//blog.wellosoft.net/en/">📝 Blog</a>
        </li>
        <li>
            {% if page.url=='/' %}
            <label data-balloon="Show my email" data-balloon-pos="down" onclick="gotoEmail()" for="email">📧 Contact</label>
            {% else %}
            <a data-balloon="Back to main page" data-balloon-pos="down" href="/">🏠 Home</a>
            {% endif %}
        </li>
    </ul>
</div>
