<div id='head'>
    <div class='logo' data-balloon="Scroll down and hover over rainbow 🌈" data-balloon-pos="right">
        <a href='https://github.com/willnode/willnode.github.io/'>
            <img class="icon" src='/favicon.ico' alt="Logo">
        </a>
    </div>
    <div class='space'></div>
    <ul class='menu'>
        <li>
            <label data-balloon="Show my email" data-balloon-pos="down" click='gotoEmail()' for='email'>📧 Contact</label>
        </li>
        <li>
            <label data-balloon="Show my story" data-balloon-pos="down" for='about'>👓 About</label>
        </li>
    </ul>
</div>
