<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt }}">
<meta property="og:image" content="{{ page.hero }}">
<meta name="twitter:card" content="summary">
<meta name="description" content="{{ page.excerpt }}">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="manifest" type="application/json" href="/manifest.json">
<link rel="stylesheet" type="text/css" media="screen" href="/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/vendor/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/style.css">
<title>{{ page.title }}</title>
<script src="/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>