<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt }}">
<meta property="og:image" content="{{ page.hero }}">
<meta name="twitter:card" content="summary">
<meta name="description" content="{{ page.excerpt }}">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" media="screen" href="/vendor/slick.min.css" />
<link rel="stylesheet" href="/style.css">
<title>{{ page.title }}</title>
