<div id="navbar">
    <div class="logo">
        <a href="/">
            {% include_relative img/wellosoft.svg %}
        </a>
    </div>
    <div class="space"></div>
    <div class="toggle">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <input type="checkbox" id="nav-check">
    <div class="menu">
        {% case page.url %}
        {% when '/' %}
        <a href="/asset-store/">Products</a>
        <a href="/cv/">CV</a>
        <label onclick="window.scroll({ behavior: 'smooth', top: $('#section-email')[0].offsetTop});" for="email">Contact</label>
        {% when '/cv/' %}
        <a href="/">Home</a>
        <a href="/asset-store/">Products</a>
        <label onclick="print()">Print</label>
        {% when '/asset-store/' %}
        <a href="/">Home</a>
        <a href="/cv/">CV</a>
        <a href="/grants/">Get Access</a>
        {% else %}
        <a href="/">Home</a>
        {% endcase %}
    </div>
</div>
