<div id="navbar">
    <div class="logo">
        <a href="/">
            {% include_relative img/wellosoft.svg %}
        </a>
    </div>
    <div class="space"></div>
    <div class="toggle">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <input type="checkbox" id="nav-check">
    <div class="menu">
        <a data-balloon="Read my story" data-balloon-pos="down" href="/bio/">Bio</a>
        <a data-balloon="Read my story" data-balloon-pos="down" href="/asset-store/">Products</a>
        <a data-balloon="See what I've create!" data-balloon-pos="down" href="/projects/">Projects</a>
        <a data-balloon="Visit my log" data-balloon-pos="down" href="/cv/">CV</a>
        {% if page.url=='/' %}
        <label data-balloon="Show my email" data-balloon-pos="down" onclick="gotoEmail()" for="email">Contact</label>
        {% else %}
        <a data-balloon="Back to main page" data-balloon-pos="down" href="/">Home</a>
        {% endif %}
    </div>
</div>
