<ul>
    {% for p in include.list %}
    <li data-balloon-length="fit" data-balloon="{{p.desc}}" data-balloon-pos="down">
        <a href="{% if p.url %}{{p.url}}{% else %}{{ 'https://github.com/willnode/' | append: p.name }}{% endif %}">
            {{p.name}}
        </a>
    </li>
    {% endfor %}
</ul>
{% unless include.nocarousel %}
<div class="master-slick projects" id="{{include.id}}">
    {% for p in include.list %}{% if p.img %}
    <div class="item">
            <div class="p-img" style="background-image: url('{{p.img}}')">
            </div>
            <div class="p-ctn">
                    <a href="{% if p.url %}{{p.url}}{% else %}{{ 'https://github.com/willnode/' | append: p.name }}{% endif %}">

                <h3>{{p.name}}</h3>
                <span>{{p.desc}}</span>
            </a>
        </div>
    </div>
    {% endif %}{% endfor %}
</div>

{% endunless %}
