#bubbles, .bubbles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        border: 1px solid grey;
        border-radius: 2px;
        margin: 3px;
        padding: 5px 9px;
        color: white;
        transition: border-color 0.2s ease-in;
        &:hover {
            border-color: #07c;
        }
    }
}

#logs {
    max-width: 900px;
    margin: auto;
}

#patron {
    a:hover {
        color: #700;
    }
    background-color: #fff;
    transition: background-color 0.4s ease-in;
    box-shadow: inset 0 0 10px 5px white;
    opacity: 0;
    &:hover {
        background-color: #fdd;
        opacity: 1;
        transition: all 0.2s ease-in;
    }
}

#about-bg {
    background-color: #111;
	background: url(https://res.cloudinary.com/wellosoft/image/upload/home/AboutCover.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-foot {
    background-color: #111;
	background: url(https://res.cloudinary.com/wellosoft/image/upload/home/HexaBallCover.jpg);
	background-attachment: fixed;
	background-position: center center;
    background-size: cover;
}
