
.memo-list {
    display: flex;
    flex-wrap: wrap;
    a {
        width: 33.3333%;
        height: 7em;
        display: table;
        padding: 0.5em;
        color: white;
        position: relative;

        @media (max-width: 600px) {
            & {
                width: 100%;
            }
        }

        &::before {
            content: '';
            background: var(--url) center/cover;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            box-shadow: 0 0 1px transparent;
            filter: brightness(10%);
        }
        &:hover {
            z-index: 2;

            &::before {
                filter: brightness(80%);
                box-shadow: 0 0 10px #963;
                transition: all 0.2s;
            }

            span {
                text-shadow: 0 0 5px black;
            }
        }

        span {
            display: table-cell;
            vertical-align: middle;
            font-size: 0.8em;
        }
    }
}