* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

body.index {
    min-height: 100%;
    width: 100%;
    background-color: white;
}

body:not(.index) {
    a {
        color: black;
    }
}

a {
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.links-aon a {
    border-bottom-color: black;
}

.nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

a:hover {
    font-weight: bold;
    transition: color 0.2s ease-in;
}

h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 10px 0px;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

label {
    cursor: pointer;
}

input[type='checkbox'] {
    display: none;
}

#navbar {
    height: 64px;
}

.hero {

    text-align: center;
    padding: 2em;


    @media (max-width: 600px) {
        & {
            padding: 2em 5px;
        }
    }

    q {
        font-style: italic;
    }

    h3 {
        font-size: 2rem;
    }

    .btn {
        padding: 1rem;
        border: 1px solid white;
        color: white;
        background-color: transparent;

        &:hover {
            color: black;
            background-color: white;
            transition: 0.5s all;
        }
    }
}

.hero-overlay {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-imaged {
    position: relative;
    color: white;

    &::before {
        content: '';
        z-index: -1;
        background-image: var(--url);
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

    }

    &.right::before {
        background-position: right;
    }

    &.fixed::before {
        background-attachment: fixed;
    }
}


.wrapper {
    margin: auto;
    max-width: 600px;
}

#cv {
    li {
        list-style-type: initial;
    }

    th {
        min-width: 100px;
        text-align: left;
    }

}

.hr-curvy {
    position: relative;
    height: 0;
    pointer-events: none;

    svg {
        position: absolute;
        top: -50px;
        height: 100px;
        width: 100%;
        display: block;
    }

    .up {
    fill: var(--up, transparent);
    }
    .down {
    fill: var(--down, transparent);
    }
    .upback {
    fill: var(--upback, transparent);
    }
    .downback {
    fill: var(--downback, transparent);
    }

}

@media (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}