.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 0;
    margin: 0;
    a {
        color: white;
        &:hover {
            color: #07c;
        }
    }
    svg {
        width: 2em;
        vertical-align: text-bottom;
        fill: var(--fore-color);
    }
    li {
        border: solid 2px;
        border-color: transparent;
        border-radius: 0px 5px 5px 5px;
        white-space: nowrap;
        overflow-wrap: normal;
        display: inline-flex;
        padding: 1rem;
        animation: border-color 0.2s ease-in;
        &:hover,
        &:focus {
            border-color: var(--hover-color);
            animation: border-color 0.2s ease-in;
            svg {
                fill: var(--hover-color);
                transition: fill 0.2s ease-out;
            }
        }
    }
    span {
        margin: 10px 5px;
        display: inline-block;
    }
}

.index-logo {
    width: 300px;
    height: 300px;
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;
    text-align: center;
    fill: white;
    margin-bottom: 2em;
}

.circle {
    border-radius: 1000px;
}

.index-flex {
    display: flex;
    margin: 2em 0;
    align-items: center;

    .grow {
        padding: 1em;
        flex-grow: 1;
    }

    h2 {
        margin-top: 0;
    }

    .profile {
        width: 300px;
        margin: 10px;
        border-radius: 200px;
    }
}