#graphics {
    background-color: #222;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 25px 25px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    filter: brightness(1);
    transition: filter 0.9s;
    &.blink {
        filter: brightness(0);
    }
    a,
    & {
        color: white;
        text-shadow: 0px 0px 8px black;
    }
    .dummygap {
        display: flex;
        flex-grow: 1;
    }
    .btm {
        display: flex;
    }
    .rows {
        flex-direction: row;
    }
    .left {
        flex-grow: 1;
        text-shadow: 0px 0px 10px black;
    }
    .nav {
        align-items: center;
        font-size: 30px;
    }
    .mdunity svg {
        width: 160px;
        vertical-align: text-bottom;
        fill: white;
    }
}