#head {
    box-shadow: 0 0 0px 0px rgba(#07c, 0);
    display: flex;
    margin: 0;
    padding: 2px 40px;
    transition: box-shadow 0.1s ease-in;
    .icon {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        cursor: pointer;
        margin: 1em 0px;
    }
    &:focus,
    &:hover {
        box-shadow: 0 0 5px 0px rgba(#07c, 50);
        transition: box-shadow 0.2s ease-out;
    }
    .space {
        flex-grow: 1;
        min-width: 20px;
    }
    .menu {
        display: flex;
        li {
            a {
                padding: 5px 10px;
            }
            display: inline-block;
            vertical-align: middle;
        }
    }
}
