.particles-js {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: -1;
    background: #010207;
}

.slick-slide:focus {
    outline: none;
}

.master-slick {

    color: white;

    .slick-slide  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .slick-slide>div {
        height: 100%;
        padding: 2rem 3rem;

        display: flex;
        transition: height 0.4s ease-in;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: min-content;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-dots {
        bottom: 10px;
    }

    .slick-prev,
    .slick-next,
    .slick-dots {
        z-index: 2;
    }
}

#navbar {
    z-index: 2;
}

.home-contact {
    h1 {
        margin-top: 0;
    }
}
.home-email {

    svg {
        width: 100%;
        max-width: 70px;
        padding-right: 5px;
        vertical-align: text-bottom;
        fill: white;

        &:hover,
        &:focus {
            fill: #07c;
            transition: fill 0.2s ease-out;
        }
    }

    .icon {
        display: inline-block;
    }

    span,
    label {
        margin: 2rem;
    }

    label {
        padding: 0px 20px;
    }

    a {
        color: whitesmoke;
    }
}


.blink {
    animation: blink-blink 1s steps(1) infinite;
    position: absolute;
}

@keyframes blink-blink {
    0% {
        color: transparent;
    }

    50% {
        color: white;
    }
}

#overview {
    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        font-style: italic;
    }

    font-family: monospace;
}