.particles-js {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: -1;
    background: #010207;
}

.bg-blue {
    --back-color: #07c;
    --fore-color: white;
    --hover-color: white;
}

.bg-pink {
    --back-color: #70c;
    --fore-color: white;
    --hover-color: white;
}

.bg-white {
    --back-color: white;
    --fore-color: black;
    --hover-color: #07c;
}

.bg-blue, .bg-white, .bg-pink {
    background-color: var(--back-color);
    color: var(--fore-color);

    a {
        color: var(--fore-color);
    }
    a:hover {
        border-bottom-color: var(--fore-color);
    }
}

.slick-slide:focus {
    outline: none;
}

.master-slick {

    color: white;

    &>div {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slick-slide  {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .slick-slide>div {
        height: 100%;
        width: 100%;
        padding: 2rem 3rem;

        display: flex;
        transition: height 0.4s ease-in;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: min-content;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-dots {
        bottom: 10px;
    }

    .slick-prev,
    .slick-next,
    .slick-dots {
        z-index: 2;
    }
}

#navbar {
    z-index: 2;
}

.home-contact {
    h1 {
        margin-top: 0;
    }
}

.home-email {

    svg {
        width: 100%;
        max-width: 70px;
        padding-right: 5px;
        vertical-align: text-bottom;
        fill: black;

        &:hover,
        &:focus {
            fill: #07c;
            transition: fill 0.2s ease-out;
        }
    }

    .icon {
        display: inline-block;
    }

    span,
    label {
        margin: 2rem;
    }

    label {
        padding: 0px 20px;
    }

    p {
        background-color: white;
        padding: 0.2em 1em;
        border-radius: 100px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: black;

    }
}

.devlog-list {
    display: flex;
    flex-direction: column;

    &>a {
        margin-top: 0.5em;
    }
}


.blink {
    animation: blink-blink 1s steps(1) infinite;
    position: absolute;
}

@keyframes blink-blink {
    0% {
        color: transparent;
    }

    50% {
        color: var(--fore-color);
    }
}

#overview {
    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        font-style: italic;
    }

    font-family: monospace;
}

.index:not(.bio) {
    .logo {
        display: none;
    }
}

.index.bio {
    .hero.welcome {
        min-height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero.my-bio .box {
        margin: 100vh -3rem -3rem 50%;
        padding: 0.5em;
        font-size: 1.2rem;
        min-height: 100vh;
        display: flex;
        >div {
            margin: auto;
        }
        a {
            font-weight: bold;
        }
        p {
            text-align: justify;
            text-indent: 2rem;
            line-height: 1.5em;
            text-indent: 2em;
        }
    }


    @media (max-width: 600px) {
        .hero.my-bio .box {
            margin-left: -5px;
            margin-right: -5px;
        }

        .hero.my-bio::before {
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            max-height: calc(100vh + 2em);
        }
    }

    .hero.my-memo {
        min-height: 100vh;
        text-shadow: 0 0 3px black
    }

    .hero.my-hi>div {
        margin: 20vh auto; display: block; text-align: center
    }
}