#navbar {
    &.index {
        position:absolute;
        left:0;
        right:0;
        &, a {
            color: white;
        }
        a:hover, label:hover {
            font-weight: bold;
        }
        svg {
            fill: white !important;
        }
    }

    box-shadow: 0 0 0px 0px rgba(#07c, 0);
    display: flex;
    margin: 0;
    padding: 2px 40px;
    transition: box-shadow 0.1s ease-in;
    svg {
        width: 48px;
        height: 48px;
        cursor: pointer;
        margin: 0.5em 0px;
        fill: #07c;
    }
    &:focus,
    &:hover {
        box-shadow: 0 0 5px 0px rgba(#07c, 50);
        transition: box-shadow 0.2s ease-out;
    }
    .space {
        flex-grow: 1;
        min-width: 20px;
    }
    .menu {
        display: flex;
        margin: auto;
        li a {
            padding: 5px 10px;
        }
    }
}
