#navbar {
    body.index & {


        &,
        a {
            color: white;
        }

        a:hover,
        label:hover {
            font-weight: bold;
        }

        svg {
            fill: white !important;
        }
    }

    box-shadow: 0 0 0px 0px rgba(#07c, 0);
    display: flex;
    margin: 0;
    padding: 0 40px;
    transition: box-shadow 0.1s ease-in;

    svg {
        width: 48px;
        height: 48px;
        cursor: pointer;
        margin: 0.5em 0px;
        fill: #07c;
    }

    &:focus,
    &:hover {
        box-shadow: 0 0 5px 0px rgba(#07c, 50);
        transition: box-shadow 0.2s ease-out;
    }

    .space {
        flex-grow: 1;
        min-width: 20px;
    }

    .menu {
        display: flex;
        margin: auto;

        a, label {
            padding: 5px 10px;
        }
    }

    .toggle,
    #nav-check {
        display: none;
    }

    @media (max-width: 600px) {
        .toggle {
            display: inline-block;

            label {
                display: inline-block;
                width: 48px;
                height: 48px;
                padding: (48px - 25px) / 2;
                margin: 0.5em;
            }

            label:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

            span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
            }
        }

        .menu {
            position: absolute;
            right: 0;
            left: 0;
            top: calc(48px + 1em);
            background: #111;
            flex-direction: column;
            z-index: 10;
            overflow: hidden;

            a, label {
                padding: 1em 10px;
                color: white;
            }
        }

        #nav-check:not(:checked)+.menu {
            height: 0px;
        }

        #nav-check:checked+.menu {
            height: calc(100vh - (48px + 1em));
            overflow-y: auto;
            transition: 0.4s height;
        }
    }
}