#projects {
    h1, h2 {
        padding: 0px 10px;
    }
    ul {
        padding: 5px 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            a {
                padding: 10px 25px;
                display: inline-block;
            }
            width: fit-content;
        }
    }

    [data-balloon]::before, [data-balloon]::after {
        pointer-events: none !important; /* avoid messing with touches */
    }


    .master-slick.projects {
        height: calc(4rem + 30vw + 150px);
        background-color: darken($color: darkslategray, $amount: 10);

        .item {
            margin: 1rem;
        }
        .p-img {
            height: 30vw;
            background-position: center;
            background-size: cover;
        }
        a {
            color: white;
            width: 100%;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .slick-dots li, .slick-next, .slick-prev {
            background-color: darkslategray;
            border-radius: 50%;
        }
        .p-ctn {
            background-color: darkslategray;
            color: white;
            height: 150px;
            padding: 1em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .slick-slide {
            flex-direction: column;
        }
    }

    .master-slick>div {
        min-height: initial !important;
    }
}

#u3d {
    text-align: center;

    .projects {
        margin: 2rem 0;
        background: #000b;
    }

    .hero-imaged {
        display: flex;
    }

    .u3d-embed {
        width: 100%;
        max-width: 600px;
        height: 130px;
        border: 0px;
        background-color: white;
        margin: auto;
    }
}